@model GameStore.UI.Models.LoginViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="login-page">



    <div class="login-box">

        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Sign in to start your session</p>

                <form action="" method="post">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="Username" id="Username" placeholder="Login">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" id="Password" name="Password" class="form-control" placeholder="Password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <!-- /.col -->
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>
                <p class="mb-0">
                    <a href="Register" class="text-center">Register a new membership</a>
                </p>




            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    <!-- /.login-box -->
    <!-- jQuery -->
    <script src="../../plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="../../dist/js/adminlte.min.js"></script>



    <script src="https://yastatic.net/sovetnik/_/js/sovetnik.min.js?mbr=true&amp;settings=%7B%22clid%22%3A%222288281%22%2C%22affId%22%3A%221%22%2C%22applicationName%22%3A%22%D0%97%D0%B0%D1%89%D0%B8%D1%82%D0%B0%20%D0%BE%D1%82%20%D0%B2%D0%B5%D0%B1-%D1%83%D0%B3%D1%80%D0%BE%D0%B7%20360%22%2C%22browser%22%3A%22chrome%22%2C%22extensionStorage%22%3Atrue%2C%22notificationStatus%22%3A%22chrome%22%2C%22notificationPermissionGranted%22%3Afalse%7D" type="text/javascript" charset="UTF-8"></script>

</div>


