@using System.Web.Optimization
@{

    <link href="~/Content/HomeStyle.css" rel="stylesheet" />
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/HomeStyle")
<div class="jumbotron jumbotron-fluid ">
    <div class="container">
        <h1 class="display-4">Game storage</h1>
        <p class="lead">This is a best game storage</p>
    </div>
</div>
<hr />
<span>
    Latest news
</span>
<hr />
<div class="container cardcontainer">
    <div class="mycard">
        <img src="https://cdn.mos.cms.futurecdn.net/76CPnjnNpxAwLS2nzbbDyk-1024-80.jpg.webp" />
        <div class="cardbody">
            <h5>Here's 12 minutes of The Outer Worlds: Peril on Gorgon DLC Gameplay</h5>
            <p>First announced during the Xbox Games Showcase with a delightfully pulpy trailer, The Outer Worlds' first DLC out of a total two, named Peril on Gorgon, got a gameplay trailer with some short commentary by game director Carrie Patel.</p>
            <p><small class="text-muted">Last updated 40 mins ago</small></p>
        </div>
    </div>
    <div class="mycard">
        <img src="https://cdn.mos.cms.futurecdn.net/pjKMnfT7JXPCHZDVUQyeR7-1024-80.jpg.webp" />
        <div class="cardbody">
            <h5>NBA 2K developer supports NBA in protesting police brutality following Wisconsin shooting</h5>
            <p>Police in Kenosha, Wisconsin shot the 29 year-old Daniel Blake in the back multiple times, leading to renewed protests against police brutality in Wisconsin</p>
            <p><small class="text-muted">Last updated 2 hours ago</small></p>
        </div>
    </div>
    <div class="mycard">
        <img src="https://cdn.mos.cms.futurecdn.net/Q9P7Q6MeqHL9A5Wfebhhtc-1024-80.jpg.webp" />
        <div class="cardbody">
            <h5>The Crusader Kings 3 AI kept trying to seduce female player characters and had to be nerfed</h5>
            <p>Seduction is a well-known, expansive diplomacy mechanic in Crusader Kings, which allows you to grow your dynasty by producing and legitimising bastard</p>
            <p><small class="text-muted">Last updated 3 hours ago</small></p>
        </div>
    </div>
    <div class="mycard">
        <img src="https://cdn.mos.cms.futurecdn.net/8nFqEVErmB9K2GyoNyvRuB-1024-80.jpg.webp" />
        <div class="cardbody">
            <h5>Control Ultimate Edition and more up to 90% off in The Humble Store End of Summer Sale</h5>
            <p>When it comes to big game releases, September is right on the edge of the busy season—ideal to get a few games in you've been meaning to play for ages</p>
            <p><small class="text-muted text-right">Last updated 4 hours ago</small></p>
        </div>
    </div>
</div>





