@using System.Web.Optimization;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/adminite.css" rel="stylesheet" />
    <link href="~/Content/Layoutstyle.css" rel="stylesheet" />

</head>
<body>
    <div class="wrapper">
        @{
            Html.RenderPartial("Header");

        }

        @RenderBody()

    </div>
    @*<footer class="bg-dark text-center">
            <div class="container-fluid ">
                <div class="row">
                    <div class="col-12">
                        <a href="#"><i class="fab fa-facebook-square"></i></a>
                        <a href="#"><i class="fab fa-twitter-square"></i></a>
                        <a href="#"><i class="fab fa-github-square"></i></a>


                    </div>
                </div>
            </div>
        </footer>*@
    <script src="https://kit.fontawesome.com/41174f93d5.js" crossorigin="anonymous"></script>
    @Scripts.Render("~/Content/AllScriptsLayout")
    @*<script src="~/Scripts/jquery-3.4.1.js"></script>

        <script src="~/Scripts/popper.js"></script>


        <script src="~/Scripts/bootstrap.min.js"></script>
        <script src="~/Scripts/adminite.js"></script>
        <script src="~/Scripts/script.js"></script>*@
</body>
</html>