@model IEnumerable<GameStore.UI.Models.GenreView>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container my-container">
    <p>

        @Html.ActionLink("Create New Genre", "Create", new { @class = "btn btn-primary" })
    </p>

    <div id="genres">

        @{
            Html.RenderPartial("Partial/GenrePartial", Model);
        }
    </div>
</div>